<launch>
    <node pkg="lane_detection" type="lane_detect.py" name="lane_detect" output="screen"/>
    <node pkg="slam_nav" type="total.py" name="total" output="screen"/>

    <!-- localization -->
    <include file="$(find obstacle_detect)/launch/obstacle.launch"/>
    <include file="$(find slam_nav)/launch/navigation.launch"/>
</launch>